<html>
<head>
 <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  </head>
   <body>
     <nav>
      <ul class="menu">
        <li class="logo"><a href="#"> Michael Couch</a></li>
        <li class="item"><a href="#">  </a></li>
        <li class="item"><a href="#">  </a></li>
        <li class="item button"><a href="https://www.linkedin.com/in/mike-couch/"> Contact</a></li>
      </ul>
     </nav>
    <div class="banner container">
      <p> I combine my passion for programming and my extensive healthcare knowledge to create useful things. </p>
    </div>
    <div class="project container">
     <ul class="link list">

      <div class="linkBox">
       <li class="project link"><a href="{{url_for('cloudGraph')}}"><img src = "{{url_for('static',filename='/images/US_map.png')}}"><p>COVID US Dashboard</p></a></li>
       <p id="desc"> Interactive and real-time visualizations of nationwide COVID case counts.
       </br>
        Data sourced from google bigquery and visualized with the plotly python library.
       </p>
       </div>

       <div class="linkBox">
       <li class="project link"><a href="https://play.google.com/store/apps/details?id=com.VirtualRnLLC.LearnPacing"><img src = "{{url_for('static',filename='/images/LearnPacing.png')}}"><p>Android Epicardial Pacing Trainer</p></a></li>
       <p id="desc">
        Medical device simulator that teaches clinicians how to operate an epicardial pacemaker.
      </br>
        Created using UNITY, scripted in C#, images made in GIMP.
       </p>
       </div>

       <div class="linkBox">
       <li class="project link"><a href="http://www.mysicu.com/games/EKGSimulator/"><img src = "{{url_for('static',filename='/images/EKGSim.png')}}"><p>EKG Simulator</p></a></li>
       <p id="desc">Online learning game that teaches clinicians and students how to interprent EKG rhythms. </br>
       Created using UNITY, scripted in C#, images made in GIMP. </p>
       </div>

        <div class="linkBox">
       <li class="project link"><a href="https://github.com/mikec3"><img src = "{{url_for('static',filename='/images/CodeShot.png')}}"><p>GitHub</p></a></li>
       <p id="desc">My GitHub. </br> I make no claims that the content here is sensible or follows best practices, it's all hobby projects. </p>
       </div>
     </ul>
   </div>
   </body>
</html>