#dashboard{
	/*max-width:100%;*/
	/*margin: auto;*/
	/*border: 1px solid red;*/
	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap;*/
	align-items: baseline;
}

.graphs{
	/*border: 1px solid blue;*/
}

h1 {
	color: red;
}